$primarycolor: #ffffff;
$secondarycolor: #000000;
$tertiarycolor: #030c61;
$navbarcolor: #999999;

* {
  display: box;
}

body {
  color: $secondarycolor;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background: $secondarycolor;
  overflow-y: auto;
  }

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 8em;
  color: $primarycolor;
}

h2 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 5em;
  color: $primarycolor;
}

.main-view {
  margin-top: 6.1em;
}

.navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 3em;
}

.navbar-main {
  background: rgba(0, 0, 0, 1);
}


.log-out-button {
  float: right;
}

.visibility-filter {
  width: 100%;
  position: fixed;
  z-index: 2;
 }

.navbar-link {
  margin-left: 1.5em;
  color: $navbarcolor;
}

footer {
  text-align: right;
  margin-top: 5em;
  margin-right: 1em;
  color: $primarycolor;
  font-size: 0.7em;
}

@media all and (max-width: 750px) {
  body {
    font-size: 0.7em;
  }

  h1 {
    font-size: 5em;
  }
}